@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url(./lib/Google_Fonts/Rubik-Light.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(./lib/Google_Fonts/Rubik-Regular.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url(./lib/Google_Fonts/Rubik-Medium.ttf) format('truetype');
}

:root {
  /* colors */

  --color-blue: hsl(246, 80%, 60%);
  --color-blue-dark: hsl(226, 43%, 10%);
  --color-blue-dark-extra: hsl(235, 46%, 20%);
  --color-blue-desaturated: hsl(235, 45%, 61%);
  --color-blue-pale: hsl(236, 100%, 87%);
  --color-blue-soft: hsl(195, 74%, 62%); /* play */
  --color-dark: hsla(226, 43%, 10%, 1);
  --color-green-light: hsl(145, 58%, 55%);
  --color-green-lime: hsl(348, 100%, 68%); /* exercise */
  --color-light: hsla(0, 0%, 100%, 1);
  --color-orange-soft: hsl(43, 84%, 65%); /* self care */
  --color-red: hsl(348, 100%, 68%); /* study */
  --color-red-light: hsl(15, 100%, 70%); /* work */
  --color-violet: hsl(264, 64%, 52%); /* social */

  /* fonts */
  --font-plain: 'Rubik', sans-serif;

  /* Typography */
  --fs-head1: 1.5rem; /* 24px */
  --fs-head1-big: 2.5rem; /* 40px */
  --fs-head2: 1.125rem; /* 18px */
  --fs-head2-big: 1.125rem; /* 18px */
  --fs-text: 0.9375rem; /* 15px */
  --fs-text-big: 1rem;
  --fs-text-bigger: 3.5rem; /* 56px */
  --fs-text-biggish: 2rem; /* 32px */

  --lh-head1: 1.75rem; /* 28 */
  --lh-head1-big: 2.9375rem; /* 47px */
  --lh-head2: 1.3125rem; /* 21px */
  --lh-head2-big: 1.3125rem; /* 21px */
  --lh-text: 1.125rem; /* 18px */
  --lh-text-big: 1.3125rem; /* 21px */
  --lh-text-bigger: 4.125rem; /* 66px */
  --lh-text-biggish: 2.375rem; /* 38px */

  --fw-light: 300;
  --fw-medium: 500;
  --fw-regular: 400;

  /* GLOBALS */
  line-height: var(--lh-text);
  font-family: var(--font-plain);
  font-weight: var(--fw-regular);
  color: var(--color-light);
}

/* ==================================
  RESET
===================================== */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  background-color: inherit;
  border: 0 solid;
  box-sizing: inherit;
  color: inherit;
  font: inherit;
  margin: 0;
  overflow-wrap: normal;
  padding: 0;
}

body {
  font-size: var(--fs-text);
  background-color: var(--color-dark);
}

button {
  display: block;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* ==================================
  LAYOUT
===================================== */

.center-l {
  box-sizing: content-box;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.center-l > * {
  box-sizing: border-box;
}

.cover-l {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-start: 5.0625rem;
  min-block-size: 100vh;
}

@media screen and (min-width: 768px) {
  .cover-l {
    margin-block-start: 0rem;
  }
}

@media screen and (min-width: 1110px) {
  .center-l {
    padding-inline: 0;
  }

  .cover-l {
    margin-block-start: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .cover-l {
    margin-block-start: 0rem;
  }
}
/* ==================================
  SECTION
===================================== */

.section {
  display: grid;
  gap: clamp(1.5rem, 1.3048rem + 0.8219vw, 1.875rem);
  max-width: 1110px;
}

.section__filter,
.section__item {
  background-color: var(--color-blue-dark-extra);
}

.section__filter {
  border-radius: 0 0 0.9375rem 0.9375rem;
  color: var(--color-blue-desaturated);
  display: flex;
  flex-wrap: wrap;
  font-size: var(--fs-head2);
  justify-content: space-between;
  line-height: var(--lh-head2);
  margin-block-start: -1rem;
  padding-block-end: clamp(1.5625rem, 1.3348rem + 0.9589vw, 2rem);
  padding-block-start: clamp(2.5rem, 2.4349rem + 0.274vw, 2.625rem);
  padding-inline: 2rem;
}

.section__filter input[type='radio'] {
  height: 1rem;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  z-index: -1;
}

.section__filter input[type='radio']:checked + span {
  color: var(--color-light);
}

.section__filter input[type='radio']:focus + span {
  /* visually show focus outline when the SPAN receives focus */
  outline: 3px solid var(--color-light);
  outline-offset: 2px;
}

.section__filter input[type='radio']:focus:not(:focus-visible) + span {
  /* hide the focus styles for mouse users */
  outline: none;
}

.section__filter label {
  cursor: pointer;
  height: 1.25rem;
  position: relative;
  width: 4.25rem;
}

.section__header {
  align-items: center;
  background-color: var(--color-blue);
  border-radius: 0.9375rem;
  display: flex;
  gap: 1.25rem;
  padding-block-end: clamp(2.125rem, 0.6284rem + 6.3014vw, 5rem);
  padding-block-start: clamp(2.1875rem, 2.1224rem + 0.274vw, 2.3125rem);
  padding-inline: 2rem 2.4375rem;
  position: relative;
}

.section__main {
  display: grid;
  gap: clamp(1.5rem, 1.3048rem + 0.8219vw, 1.875rem);
}

.section__media {
  height: clamp(4rem, 3.4795rem + 2.1918vw, 5rem);
  width: clamp(4rem, 3.4795rem + 2.1918vw, 5rem);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  border: 3px solid var(--color-light);
  order: -1;
}

.section__title {
  font-size: clamp(var(--fs-head1), 0.9795rem + 2.1918vw, var(--fs-head1-big));
  font-weight: var(--fw-light);
  line-height: clamp(
    var(--lh-head1),
    1.1318rem + 2.6027vw,
    var(--lh-head1-big)
  );
}

.section__title > span {
  color: var(--color-blue-pale);
  display: block;
  font-size: var(--fs-text);
  font-weight: var(--fw-regular);
  line-height: var(--lh-text);
  margin-block-end: 0.25rem;
}

@media screen and (min-width: 768px) {
  .section {
    grid-template-columns: 15.9375rem 2fr;
  }

  .section__filter {
    flex-direction: column;
    gap: 1.3125rem;
    justify-content: start;
  }

  .section__header {
    align-items: flex-start;
    flex-direction: column;
    gap: 1.25rem;
  }

  .section__media {
    margin-left: -3px;
  }

  .section__main {
    grid-template-columns: repeat(2, minmax(10rem, 15.9375rem));
  }

  .section__title span {
    margin-block-end: 0.1875rem;
  }
}

@media screen and (min-width: 1110px) {
  .section {
    grid-template-columns: 15.9375rem 3fr;
  }
  .section header {
    max-width: 15.9375rem;
  }

  .section__header {
    gap: 2.6875rem;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    width: 1110px;
  }

  .section__main {
    grid-template-columns: repeat(3, 15.9375rem);
  }
}

/* ==================================
  CARD
===================================== */

.card {
  overflow: hidden;
}

.card__header,
.card__details {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.card__header {
  margin-block-end: clamp(0.4375rem, -0.1481rem + 2.4658vw, 1.5625rem);
}

.card__image {
  margin-block-start: -0.75rem;
  margin-inline-start: auto;
  margin-inline-end: 1rem;
}

.card__main {
  background-color: var(--color-blue-dark-extra);
  border-radius: 0.9375rem;
  /* for accessibility */
  outline: 0.125rem solid transparent;
  outline-offset: -0.125rem;
  padding-block: 1.75rem;
  padding-inline: clamp(1.5rem, 1.3048rem + 0.8219vw, 1.875rem);
  position: relative;
}

.card__media {
  --color-bg: var(--color-red-light);
  background-color: var(--color-bg, --color-red-light);
  border-radius: 0.9375rem 0.9375rem 0 0;
  height: 9rem;
  margin-block-end: -6.625rem;
  overflow: hidden;
}

.card__time {
  color: var(--color-blue-pale);
}

.card__title {
  align-self: start;
  font-size: var(--fs-head2);
  font-weight: var(--fw-medium);
  line-height: var(--lh-head2);
}

.card__total {
  font-size: clamp(
    var(--fs-text-biggish),
    1.2192rem + 3.2877vw,
    var(--fs-text-bigger)
  );
  font-weight: var(--fw-light);
  line-height: clamp(
    var(--lh-text-biggish),
    1.464rem + 3.8356vw,
    var(--lh-text-bigger)
  );
}

@media screen and (min-width: 768px) {
  .card__details {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1110px) {
  .card {
    max-width: 15.9375rem;
  }

  .card__media {
    margin-block-end: -6.1875rem;
  }

  .card__main {
    padding-block-start: 1.8125rem;
    padding-block-end: 2rem;
  }
}
