/* -----
  RESET
------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  border: 0 solid;
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
}

body {
  font-size: clamp(var(--fs-text), 0.8715rem + 0.2817vw, var(--fs-text-bigger));
  line-height: 1.5625em; /* fallback */
  line-height: clamp(
    var(--lh-text),
    1.4085rem + 0.6573vw,
    var(--lh-text-bigger)
  );
  min-height: 100vh;
}

header {
  max-block-size: 96px;
  padding-inline: 1.5rem;
  padding-inline: clamp(1.5rem, 0.6054rem + 3.8168vw, 2.4375rem);
  padding-block-start: 1.5rem;
}

main {
  padding-inline: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  font-weight: var(--font-weight);
}

h5 {
  font-family: var(--font-special);
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

/* remove animations when people turned them off */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

@media (min-width: 769px) {
  header {
    padding-block-start: 4rem; /* fallback */
    padding-block-start: clamp(1.5rem, -1.3651rem + 5.9613vw, 4rem);
    padding-inline: 3.4375rem; /* fallback */
    padding-inline: clamp(2.4375rem, 1.2914rem + 2.3845vw, 3.4375rem);
  }
}
