:root {
  /* colors */
  --color-dark: hsl(230, 33%, 7%);
  --color-mid: hsla(0, 0%, 100%, 0.04); /* accent background */
  --color-light: hsl(231, 77%, 90%);
  --color-white: hsl(0, 0%, 100%);

  /* fonts */
  --font-plain: 'Barlow', sans-serif;
  --font-serif: Bellefair, serif;
  --font-special: 'Barlow Condensed', sans-serif;

  --fs-heading1: 5rem; /* 80px heading1, mobile */
  --fs-heading1-big: 9.375rem; /* 150px heading1, tablet+ */
  --fs-heading1-bigger: 9.375rem; /* 150px heading1, tablet+ */
  --fs-heading2: 3.5rem; /* 56px heading2, mobile */
  --fs-heading2-big: 5.5rem; /* 88px heading 2, tablet */
  --fs-heading2-bigger: 6.25rem; /* 100px heading2, desktop */
  --fs-heading3: 1.5rem; /* 24px */
  --fs-heading3-big: 2.5rem; /* 40px */
  --fs-heading3-bigger: 3.5rem; /* 56px */
  --fs-heading4: 1rem; /* 16px */
  --fs-heading4-big: 1.5rem; /* 24px */
  --fs-heading4-bigger: 2rem; /* 32 px */
  --fs-heading5: 1rem; /* 16px */
  --fs-heading5-big: 1.25rem; /* 20px */
  --fs-heading5-bigger: 1.75rem; /* 28px */
  --fs-subheading1: 1.75rem; /* 28px */
  --fs-subheading1-big: 1.75rem; /* 28px */
  --fs-subheading1-bigger: 1.75rem; /* 28px */
  --fs-subheading2: 0.875rem; /* 14px */
  --fs-subheading2-big: 0.875rem; /* 14px */
  --fs-subheading2-bigger: 0.875rem; /* 14px */
  --fs-text: 0.9375rem; /* 15px body text, mobile */
  --fs-text-big: 1rem; /* 16px body text, table */
  --fs-text-bigger: 1.125rem; /* 18px body text, desktop */
  --fs-text-small: 0.875rem; /* 14 px */

  --fw-normal: 400;
  --fw-bold: 700;

  /* typography */
  --lh-heading1: 6.25rem; /* 100px Heading1 mobile */
  --lh-heading1-big: 9.375rem; /* 150px heading1 tablet */
  --lh-heading1-bigger: 10.75rem; /* 172px heading1 desktop */
  --lh-heading2: 4rem; /* 64px heading2, mobile */
  --lh-heading2-big: 5.75rem; /* 92px heading2, tablet */
  --lh-heading2-bigger: 7.1875rem; /* 115px heading 2 desktop */
  --lh-heading3: 1.75rem; /* 28px */
  --lh-heading3-big: 2.875rem; /* 46px */
  --lh-heading3-bigger: 4rem; /* 64px */
  --lh-heading4: 1.125rem; /* 18px */
  --lh-heading4-big: 1.75rem; /* 28px */
  --lh-heading4-bigger: 2.25rem; /* 36px */
  --lh-heading5: 1.1875rem; /* 19px */
  --lh-heading5-big: 1.5rem; /* 25 px */
  --lh-heading5-bigger: 2.125rem; /* 34px */
  --lh-subheading1: 2rem; /* 32 px */
  --lh-subheading1-big: 2rem; /* 32 px */
  --lh-subheading1-bigger: 2rem; /* 32 px */
  --lh-subheading2: 1.0625rem; /* 17px */
  --lh-subheading2-big: 1.0625rem; /* 17px */
  --lh-subheading2-bigger: 1.0625rem; /* 17px */
  --lh-text: 1.5625rem; /* 25px body mobile */
  --lh-text-big: 1.75rem; /* 28px body tablet */
  --lh-text-bigger: 2rem; /* 32px body text, tablet, desktop */
  --lh-text-small: 1.1875rem; /* 19px */
  --lh-text-smallish: 1.0625rem; /* 17px */

  --ls-1: 0.0625;
  --ls-2: 0.16875;

  /* measures */
  --space: 1rem;
  --gutter: 24px;

  /* GLOBALS */
  color: var(--color-white);
  background-color: var(--color-dark);
  line-height: var(--lh-text);
  font-family: var(--font-plain);
}
