/* -----
HEADINGS
------------------------------------*/
.heading1,
.heading2,
.heading3,
.heading4,
.subheading1 {
  color: var(--color-white);
  font-family: var(--font-serif);
  text-transform: uppercase;
}

.heading5,
.subheading2 {
  font-family: var(--font-special);
  text-transform: uppercase;
}

.heading1 {
  font-size: clamp(
    var(--fs-heading1),
    0.8254rem + 17.8117vw,
    var(--fs-heading1-bigger)
  );

  line-height: 1.2em; /* fallback */
  line-height: clamp(
    var(--lh-heading1),
    4.6655rem + 6.7606vw,
    var(--lh-heading1-bigger)
  );
}

.heading2 {
  font-size: var(--font-size-bigger);
  line-height: var(--line-height-bigger);
}

.heading3 {
  font-size: var(--font-size-biggish);
  line-height: var(--line-height-biggish);
}

.heading4 {
  font-size: var(--font-size-big);
  line-height: var(--line-height-big);
}

.heading5 {
  color: var(--color-light);
  font-size: clamp(
    var(--fs-heading5),
    0.7359rem + 1.1268vw,
    var(--fs-heading5-bigger)
  );
  letter-spacing: calc(var(--ls-2) * 1em);

  line-height: 1.2em; /* fallback */
  line-height: clamp(
    var(--lh-heading5),
    0.8574rem + 1.4085vw,
    var(--lh-heading5-bigger)
  );
}

.subheading1 {
  font-size: var(--font-size-grow);
  line-height: var(--line-height);
}

.subheading2 {
  color: var(--color-white);
  font-size: var(--font-size-smallish);
  line-height: var(--line-height-smaller);
}

@media screen and (min-width: 376px) {
  .heading1 {
    line-height: 1em; /* fallback */
    line-height: clamp(
      var(--lh-heading1-big),
      7.8036rem + 3.2738vw,
      var(--lh-heading1-bigger)
    );
  }
}
