:root {
  /* GLOBALS */
  --color-dark-blue: hsl(213, 19%, 18%); /* background card */
  --color-darkish-blue: hsl(213, 25%, 15%);
  --color_darken-blue: hsl(216, 12%, 8%); /* background body*/
  --color-light-gray: hsl(217, 12%, 63%);
  --color-medium-gray: hsl(225, 3%, 31%); /* text color */
  --color-primary: hsl(25, 97%, 53%); /* accent color */
  --color-white: hsl(0, 0%, 100%);
  --font-plain: Overpass, sans-serif;
  --font-weight: 700;

  color: var(--color-white);
  background-color: var(--color_darken-blue);
  font-family: var(--font-plain);
  font-size: 62.5% /* 10px */;
  line-height: 2.2em;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  background-color: inherit;
  border: 0 solid;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
}

body {
  font-size: 1.5rem;
}

/* -----
  LAYOUT
------------------------------------*/
.box-l {
  background: linear-gradient(
    135deg,
    var(--color-dark-blue) 0%,
    var(--color-darkish-blue) 100%
  );

  display: block;

  /* for accessibility */
  outline: 0.125rem solid transparent;
  outline-offset: -0.125rem;

  padding: 1.45em;
}

.center-l {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: 100%;
  padding-inline: 1.2em;
}

.cover-l {
  align-items: center;
  display: flex;
  min-block-size: 100vh;
}

.cluster-l {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  /* ↓ Choose your justification (flex-start is default) */
  justify-content: space-between;
  /* ↓ Choose your alignment (flex-start is default) */
  align-items: center;
}

.frame-l {
  align-items: center;
  display: flex;
  justify-content: center;
}

.stack-l {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-l > * + * {
  margin-block-start: 2.4rem;
}

@media screen and (min-width: 400px) {
  .box-l {
    padding: 2em;
  }
}

/* -----
  CARD
------------------------------------*/
.card,
.card-result {
  border-radius: 2rem;
  color: var(--color-light-gray);
  min-width: 250px;
  min-height: 382px;
}

.card__logo {
  background-color: var(--color-medium-gray);
  border-radius: 50%;
  height: 4.2rem;
  width: 4.2rem;
}

.card__rating {
  margin-block-start: 2.1em;
}

.card__rating input[type='radio'] {
  height: 4rem;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 4rem;
  z-index: -1;
}

.card__rating input[type='radio']:checked + span {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.card__rating input[type='radio']:focus + span {
  /* visually show focus outline when the SPAN receives focus */
  outline: 3px solid var(--color-primary);
  outline-offset: 2px;
}

.card__rating input[type='radio']:focus:not(:focus-visible) + span {
  /* hide the focus styles for mouse users */
  outline: none;
}

.card__rating input[type='radio']:hover + span {
  /* visually show focus outline when the SPAN receives focus */
  outline: 3px solid var(--color-primary);
  outline-offset: 2px;
}

.card__rating label {
  cursor: pointer;
  height: 4.2rem;
  position: relative;
  width: 4.2rem;
}

.card__rating span {
  align-items: center;
  background-color: var(--color-medium-gray);
  border-radius: 50%;
  display: flex;
  font-weight: 700;
  height: inherit;
  justify-content: center;
  width: inherit;
}

.card__rating-result {
  background-color: var(--color-medium-gray);
  border-radius: 2em;
  color: var(--color-primary);
  margin-inline: auto;
  margin-block-end: 0.75em;
  padding: 0.25em 1em;
}

.card-result {
  padding-block-start: 2.5em;
  padding-block-end: 2.2em;
}

.card-result .card__title {
  font-size: 2.4rem;
}

.card__title {
  color: var(--color-white);
  font-size: 2.2rem;
  letter-spacing: 0.075em;
}

@media screen and (min-width: 400px) {
  .card,
  .card-result {
    max-width: 400px;
    min-height: 400px;
  }
  .card__title {
    font-size: 2.7rem;
    margin-block-start: 4rem;
  }

  .card-result .card__title {
    font-size: 3.1rem;
  }
}

/* -----
BUTTON
------------------------------------*/
.btn {
  border: 0;
  border-radius: 2em;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
}

.btn-cta {
  /*box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3); */

  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: var(--font-weight);
  margin-block-start: 1.7em;
  margin-block-end: 0.8em;
  padding: 1em 1.2em;
  text-transform: uppercase;
  width: 100%;
}

.btn-cta:active {
  color: var(--color-primary);
  transform: scale(0.98);
  background-color: var(--color-white);
}

.btn-cta:hover {
  transform: scale(0.98);
}
/* -----
  UTILITIES
------------------------------------*/
.text-centered {
  text-align: center;
}
